{% extends 'base.html' %}
{% block myContent %}

        <nav class="nav nav-pills nav-justified">
                <a class="nav-item nav-link active" href="expenditure/">Expenditure Details</a>
                <a class="nav-item nav-link" href="expendetail/">View Details</a>
                <a class="nav-item nav-link" href="exmodify/">Modify Details</a>
                
        {% for incom in  Incomedetail %}
            </nav>
            <div>
              <p>Income id: {{ incom.incomeid }}</p>
              <p>Source: {{ incom.source }}</p>
              <p>Date:{{ incom.date }}</p>
              <p>Date:{{ incom.amount }}</p>
            </div>
            <div>
                    <form method="POST" class="from-group">
                            {% csrf_token %}
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="editincome/{{incom.incomeid}}" id="{{incom.incomeid}}">Update</a> 
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="deleteincome/{{incom.incomeid}}" id="{{incom.incomeid}}">Delete</a>
                    </form>
            </div>
      {% endfor %}
    

{% endblock %}