{% extends 'base.html' %}
{% block myContent %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="nav nav-pills nav-justified">
                <a class="nav-item nav-link active" href="expenditure/">Income Details</a>
                <a class="nav-item nav-link" href="expendetail/">View Details</a>
                <a class="nav-item nav-link" href="exmodify/">Modify Details</a>
                
              </nav>
    <form method="POST">
            {% csrf_token %}
            {{form|crispy}}

            {% for exp in  Expendetail %}
                      <p>Expence id: {{ exp.exid }}</p>
                      <p>Source: {{ exp.source }}</p>
                      <p>Date: {{ exp.date }}</p> 
                      <p>Amount:{{ exp.amount }}</p>
         {% endfor %}
    </form>
</body>
</html>
{% endblock %}