<!-- {% extends 'base.html'%}
{% block myContent %} -->
{% load static from staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form method="POST" class="from-group">
        <table class="table">
            {% csrf_token %}
            {{ form|crispy }}
            
            
                <tr>
                    <td> <center><button class="btn btn-danger" >Submit</button> </center> </td>
                </tr>
                
            </table>
   </form>

    <center>Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!</center>
  
</body>
</html>
    <!-- {% endblock %} -->