{% extends 'base.html' %}
{% block myContent %}
   <div class="container">
       <div class="row">
           <!-- <div class="col col-12 col-sm-6 col-md-4">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio omnis a aut fugiat quisquam quaerat magnam modi, doloremque soluta deserunt libero eius provident dolor perspiciatis nam rem deleniti natus tenetur?
           </div> -->
           <!-- <div class="col col-12 col-sm-6 col-md-4"> -->
               <form method="POST">
                <table class="table">
                        <tr>
                            <td>User name</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                    
                        <tr>
                            <td><button class="btn btn-danger">Submit</button></td>
                        </tr>
                    </table>
                </form>
           </div>
       </div>
   </div>
   {% endblock %}